
.wrapper {
    width: 100%;
    background:  red;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/bg.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: animasiBackground 100s linear infinite;
}
#info, #papanNilai {
    position: absolute;
    text-align: center;
    left: 50%;
    top: -250px;
    transform: translate(-50%, 0%);
}
.info {
    position: absolute;
    text-align: center;
    left: 50%;
    top: -250px;
    transform: translate(-50%, 0%);
}
.instruction {
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 15px;
    width: 515px;
    color: #444321;
}
.game-name{
    font-size: 2.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}